name: vemagmes

# Âncora para não repetirmos código nos serviços Python
x-backend-base: &backend-base
  build: ./src-py
  restart: always
  env_file: 
    - .env.dev
  depends_on:
    db:
      condition: service_healthy
    redis:
      condition: service_started
  extra_hosts:
    - "host.docker.internal:host-gateway"

services:
  db:
    image: postgres:15-alpine
    restart: always
    # Em vez de env_file, mapeamos explicitamente as variáveis para o Postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
  redis:
    image: redis:alpine
    restart: always
    volumes:
      - redis_data:/data

  backend:
    <<: *backend-base
    command: sh -c "alembic upgrade head && uvicorn main:app --host 0.0.0.0 --port 8000"

  celery_worker:
    <<: *backend-base
    command: celery -A app.core.celery_app worker --loglevel=info

  frontend:
    build: ./src-client
    restart: always
    depends_on:
      - backend

volumes:
  postgres_data:
  redis_data: