<!DOCTYPE html>
<html>
  <head>
    <title>VEMAGMES</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="icons/trucar-logo-dark.png.ico"
    />
  </head>
  <body> <!-- quasar:entry-point --> 
    </body>
</html>
