// app.scss
@import 'leaflet/dist/leaflet.css';


// Estilos customizados
.floating-card {
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }
}

// Animações do Quasar
.animated {
  animation-duration: 0.6s;
}
body.desktop {
  /* Aplica 75% de zoom para navegadores baseados em Chromium (Chrome, Edge, Opera, Safari) */
  zoom: 0.75; 

  /* O Firefox tradicionalmente prefere o uso de transform para zoom */
  @-moz-document url-prefix() {
    transform: scale(0.75);
    transform-origin: top left;
    
    /* Quando escalamos no Firefox, o fundo pode encolher, isso compensa a diferença */
    width: 133.33%; 
    height: 133.33%;
    overflow-x: hidden;
  }
}